In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
matplotlib inline

In [7]:
sales_data = pd.read_csv(r'C:\Users\Paul Fadayini\Desktop\titucodes\dataresources\Superstore_data.csv', encoding = 'latin1')

In [5]:
sales_data['calculated_price']=sales_data['Sales']/ sales_data['Quantity']

In [6]:
sales_data['calculated_price'].head()

0    130.9800
1    243.9800
2      7.3100
3    191.5155
4     11.1840
Name: calculated_price, dtype: float64

In [48]:
sales_data['Discounted_price']= sales_data['calculated_price']-(sales_data['Discount'] * sales_data['calculated_price'])
sales_data['Discounted_price'].head()

2697    1886.5400
6826    3499.9900
8153    3499.9900
2623    2239.9936
4190    3499.9900
Name: Discounted_price, dtype: float64

In [49]:
sales_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,calculated_price,Cost_price,Year,Discounted_price
2697,2698,CA-2011-145317,3/18/2011,2011-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784,3773.080,5584.1584,2011,1886.5400
6826,6827,CA-2013-118689,10/3/2013,2013-10-10,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760,3499.990,-4899.9860,2013,3499.9900
8153,8154,CA-2014-140151,3/24/2014,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,3499.990,-3219.9908,2014,3499.9900
2623,2624,CA-2014-127180,10/23/2014,2014-10-25,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888,2799.992,-1119.9968,2014,2239.9936
4190,4191,CA-2014-166709,11/18/2014,2014-11-23,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,...,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856,3499.990,-1539.9956,2014,3499.9900

In [8]:
sales_data['Cost_price']=sales_data['calculated_price']-sales_data['Profit']
sales_data['Cost_price'].head()

0     89.0664
1     24.3980
2      0.4386
3    574.5465
4      8.6676
Name: Cost_price, dtype: float64

In [9]:
sales_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,calculated_price,Discounted_price,Cost_price
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,130.9800,130.980000,89.0664
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,243.9800,243.980000,24.3980
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,7.3100,7.310000,0.4386
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,191.5155,105.333525,574.5465
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,11.1840,8.947200,8.6676

# TO FIND SALES BY CATEGORY OF PRODUCTS

In [29]:
sales_by_cat=sales_data.groupby(sales_data['Category']).Sales.sum()
sales_by_cat.head()

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

# TO FIND THE PROFIT OF EACH CATEGORY OF PRODUCTS MADE

In [35]:
profit_by_cat=sales_data.groupby(['Category']).Profit.sum()
print(profit_by_cat)

Category
Furniture           18451.2728
Office Supplies    122490.8008
Technology         145454.9481
Name: Profit, dtype: float64

# sales by year

In [46]:
#this code is to convert the data type in the 'ship date' from string to date time 
sales_data['Ship Date']=pd.to_datetime(sales_data['Ship Date'])
#after adusting data type, next line of code creates a column consisting of ust the year of shipment
sales_data['Year']=sales_data['Ship Date'].dt.year
sales_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,calculated_price,Cost_price,Year
2697,2698,CA-2011-145317,3/18/2011,2011-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784,3773.080,5584.1584,2011
6826,6827,CA-2013-118689,10/3/2013,2013-10-10,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760,3499.990,-4899.9860,2013
8153,8154,CA-2014-140151,3/24/2014,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,3499.990,-3219.9908,2014
2623,2624,CA-2014-127180,10/23/2014,2014-10-25,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888,2799.992,-1119.9968,2014
4190,4191,CA-2014-166709,11/18/2014,2014-11-23,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856,3499.990,-1539.9956,2014

In [68]:
sales_by_year=sales_data.groupby(['Year'])['Sales']. sum()
print(sales_by_year)

Year
2011    470383.1931
2012    479442.5020
2013    606285.4570
2014    733727.5494
2015      7362.1588
Name: Sales, dtype: float64

# Top ten selling product

In [73]:
#first group data by product name and total sales
top_ten=sales_data.groupby(['Product Name']).Sales.sum()
#then sort in ascending order to get the highest products sold
top_ten.sort_values(ascending=False).head(10)

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

# sales_by_shipmode

In [71]:
sales_by_shipmode=sales_data.groupby(['Ship Mode']).Sales.sum()
print(sales_by_shipmode)

Ship Mode
First Class       3.514284e+05
Same Day          1.283631e+05
Second Class      4.591936e+05
Standard Class    1.358216e+06
Name: Sales, dtype: float64